{% extends "AppProyecto/padre.html" %}

{% load static %}

{% block content %}

<!-- Cabecera -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <div class="intro-text left-0 text-center bg-faded p-4 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Te damos la Bienvenida</span>
        </h2><p class="mb-3"> Ven a bailar con nosotros en MACC ESTUDIO DE DANZA
        </p>
        <!--div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="store.html">Visítanos</a>
        </div-->
      </div>
    </div>
  </div>
</section>

<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <!--h2 class="section-heading mb-4">
            <span class="section-heading-upper">Compromiso total</span>
            <span class="section-heading-lower">Garantizado</span>
          </h2-->
          <p class="mb-0">Inscribete en nuestras clases y serás parte de alguno de nustros cuerpos baile</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}