{% extends "AppProyecto/padre.html" %}

{% load static %}

{% block content %}

<section class="page-section about-heading">
  <div class="container">
    <!--img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt=""-->
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="intro-text left-0 text-center bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Nuestra historia</span></br>
            </h2>
            <p>MACC ESTUDIO DE DANZA fue fundada en el año 2000 con el nombre de SPORT GIRL DANCERS, una academia especializada en formar niñas en el mundo del baile urbano y modelaje, en el 2009 dejamos de ser solo niñas por lo que nuestro nombre cambio a SPORT DANCERS</p>
            <p>Con los años hemos ido evlucionando de la mano de los generos que estan revolucionando el mundo de la musica y el baile, pero en 2015 SPORT DANCERS tuvo que cerrar sus puertas, sin embargo una de sus fundadoras decidio retomar actividades creando MACC, un estudio de Danza que hace honor a SD y agregando estilos de baile que se adapten a nuestros MACC DANCERS </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
